/* Estilo geral */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  height: 100vh;
}

.interface {
  max-width: 1920px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 600;
  background-color: #00ff08;
  border-radius: 16px;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
}

h2.titulo {
  color: white;
  font-size: 42px;
  text-align: center;
}

h2.titulo span {
  color: #00ff08;
}

/* Colocando o h1 todo ele maiúsculo */
h1 {
  text-transform: uppercase;
}

/* Estilo do cabeçalho */

header {
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #5c5c5c;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header a:hover {
  color: white;
  transform: scale(1.05);
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
  font-size: 25px;
}

.btn-contato button:hover {
  box-shadow: 0px 0px 8px #00ff0868;
  transform: scale(1.05);
}

/* Estilo do Topo do site */

section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: white;
  font-size: 42px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site p {
  color: white;
  margin: 40px 0;
  /* font-size: 2rem; */
  font-size: 25px;
}

.topo-do-site .txt-topo-site h1 span {
  color: #00ff08;
}

/* Outra maneira de mexer com o tamanho da imagem */
/* .topo-do-site .img-topo-site img {
  border-radius: 48px;
  max-width: 500px;
} */

.topo-do-site .img-topo-site img {
  border-radius: 48px;
  max-width: 500px;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* Estilo das especialidades */

section.especialidades {
  margin: 40px 4%;
}

section.especialidades .flex {
  gap: 60px;
}

.especialidades .especialidades-box {
  color: white;
  padding: 40px;
  border: 2px solid #fff;
  margin-top: 45px;
  border-radius: 20px;
}

.especialidades .especialidades-box:hover {
  box-shadow: 0px 0px #00ff08;
  transform: scale(1.05);
}

/* .especialidades .especialidades-box:hover {
  transform: scale(1.5);
  box-shadow: 0 0 #fff;
} */

.especialidades .especialidades-box i {
  color: #00ff08;
  font-size: 60px;
}

.especialidades .especialidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

/* estilo do Sobre */

/* Imagem do sobre */
.sobre .img-sobre img {
  max-width: 400px;
  border-radius: 30px;
  margin-top: 10%;
}

.section.sobre {
  padding: 100px 4%;
}

.sobre .txt-sobre {
  color: white;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: #00ff08;
  display: block;
}

.sobre .txt-sobre p {
  font-size: 30px;
  margin: 20px 0;
  text-align: justify;
}

.sobre .txt-sobre .btn-social button {
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
  background-color: #00ff08; /*Cor de fundo*/
  cursor: pointer;
  margin: 0 8px;
  transition: 0.2s;
}

.sobre .txt-sobre .btn-social button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 8px #00ff08;
}

/* ESTILO DO PORTIFÓLIO */
section.portifolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #ffffff3e;
}

section.portifolio .flex {
  justify-content: space-around;
  margin-top: 60px;
}

.img-port {
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  transition: 5s;
  cursor: pointer;
  border-radius: 16px;
  position: relative; /*Importante para o overlay funcionar*/
}

/* Aplicar o efeito rolangem da imagem */
.img-port:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: 600; /*ou poderia ser BOLD*/
  opacity: 0;
  transition: 0.5s;
}

.overlay:hover {
  opacity: 1;
}
